<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/index.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div data-border-contribution="1"></div>
    <div data-border-contribution="2"></div>
    <div data-border-contribution="3"></div>
    <div data-border-contribution="2000"></div>
    <div data-border-contribution="80000"></div>
    <div data-border-contribution="140000"></div>
    <div data-border-contribution="180000"></div>
    <div data-border-contribution="270000"></div>
    <div data-border-contribution="370000"></div>
  </body>
</html>
